/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.771);
    font-family: "Roboto", Arial, sans-serif;
}

header {
    background-color: #2752fb;
    padding: 12px;
    text-align: center;
}

header .spartan-icon {
    /* Adjust the desired width */
    width: 160px;
    height: auto;
    /* Automatically adjust height while maintaining the aspect ratio */
}

nav {
    background-color: #F8E019;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #3a3939;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

.page-container {
    padding: 15px;
}

.description {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    font-family: "Roboto", Arial, sans-serif;
}

.description h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #2752fb;
    font-family: "Roboto", Arial, sans-serif;
}

.description p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    font-family: "Roboto", Arial, sans-serif;
}

.player-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.player-card {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: calc(33% - 40px);
    margin: 10px;
    text-align: center;
}

.player-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.player-card p {
    font-size: 18px;
    margin-bottom: 5px;
}

footer {
    background-color: #2752fb;
    color: #fff;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: flex;
        justify-content: center;
    }
    
    .title {
        font-size: 48px;
        padding-bottom: 10px;
    }

    header .spartan-icon {
        max-width: 140px;
    }

    /* Adjust the layout of the player cards for smaller screens */
    .player-card {
        width: 100%; /* Make player cards occupy the full width of the screen */
        margin: 10px 0; /* Add spacing between player cards */
    }

}