body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2752fb;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #f3f341;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #6d6c6cf3;
    padding: 10px;
    text-decoration: none;
    font-weight: bold
}

main {
    margin: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
