body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2752fb;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header .spartan-icon {
    width: 170px;  /* Adjust the desired width */
    height: auto; /* Automatically adjust height while maintaining the aspect ratio */
}

nav {
    background-color: #f3f341;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #3a3939;
    padding: 10px;
    text-decoration: none;
    font-weight: bold
}

main {
    margin: 20px;
}

/* main .spartan-team {
    background: ;
} */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
