body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2752fb;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header .spartan-icon {
    width: 150px;  /* Adjust the desired width */
    height: auto; /* Automatically adjust height while maintaining the aspect ratio */
}

nav {
    background-color: #F8E019;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #3a3939;
    padding: 10px;
    text-decoration: none;
    font-weight: bold
}

main {
    margin: 20px;
    display: flex;
    /* flex-direction: column; */
    /* text-align: center; */
    align-items: flex-start;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    min-height: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.form-element {
    width: 100%;
    max-width: 200px; /* Adjust the width as needed */
  }

.description {
    margin-top: 10px; /* Adjust the desired margin */
    margin-right: 60px;
    margin-left: 40px;
}

.group-image {
    margin-right: 40 px;
    margin-right: 40px; /* Adjust the desired margin */
    width: 500px; /* Adjust the desired width */
    border-radius: 10px;
}

footer {
    background-color: #2752fb;
    color: #fff;
    padding: 10px;
    text-align: center;
}
