<!DOCTYPE html>
<html>
<head>
    <title>Soccer Team Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <header>
        <img class="spartan-icon" src="{{ url_for('static', filename='images/spartan_logo.png') }}" alt="Custom Icon">
        <!-- <h1>U8 Spartan Team Website</h1> -->
    </header>
    <nav>
        <ul>
            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/players"><i class="fas fa-users"></i> Players</a></li>
            <li><a href="/schedule"><i class="fas fa-calendar"></i> Schedule</a></li>
        </ul>
    </nav>
    <main>
        <img class="group-image" src="{{ url_for('static', filename='images/spartan_teamv3.png') }}" alt="Group Image">
        <div class="content">
            <div class="title">
                <h2>Welcome to the U8 Spartan's website!</h2>
            </div>
            <div class="description">
                <p>We are delighted to invite all parents and supporters to join us on our exciting soccer journey. As the coach, I am thrilled to provide you with an overview of our team and the schedule for the upcoming season.</p>
                                        
                <p>We appreciate the crucial role that parents and supporters play in the success of our team. Your unwavering support and encouragement create a positive atmosphere that helps our players thrive. We encourage you to come and cheer for our talented boys and girls as they showcase their skills, determination, and growth throughout the season.</p>
                    
                <p>To keep everyone informed and engaged, we have created a schedule that outlines our upcoming practices, games, and events. Please visit our team website regularly to stay up-to-date with the latest information. We will provide details on practice times, game locations, and any additional activities.</p>
                    
                <p>We are excited about the opportunity to create lasting memories and inspire a lifelong passion for soccer in our young athletes. Thank you for being an integral part of the Spartans. Together, we will make this season a truly remarkable and enjoyable experience for everyone involved.</p>
                    
                <p>If you have any questions or require further information, please don't hesitate to reach out to me directly. I am here to support and assist you in any way I can.</p>
                    
                <p>Sincerely, Coach Javier Ibanez</p>
            </div>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2023 Soccer Team. All rights reserved.</p>
    </footer>
</body>
</html>


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>