<!DOCTYPE html>
<html>
<head>
    <title>Soccer Team Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>U8 Spartan Team Website</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/players">Players</a></li>
            <li><a href="/schedule">Schedule</a></li>
        </ul>
    </nav>
    <main>
        <h2>About the Team</h2>
        <p>This is a website for the soccer team. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at justo ac libero iaculis sodales. Nullam vel enim non massa pharetra elementum. Duis scelerisque nunc sit amet faucibus malesuada.</p>
    </main>
    <footer>
        <p>&copy; 2023 Soccer Team. All rights reserved.</p>
    </footer>
</body>
</html>


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>