<!DOCTYPE html>
<html>
    <head>
        <title>Spartan U8 Team Website</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <img class="spartan-icon" src="{{ url_for('static', filename='images/spartan_logo.png') }}" alt="Custom Icon">
        </header>
        <nav>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="/players"><i class="fas fa-users"></i>Players</a></li>
                <li><a href="/calendar"><i class="fas fa-calendar"></i>Calendar</a></li>
            </ul>
        </nav>
        <main>
            <div class="content">
                <div class="team-pic-container">
                    <img class="team-pic" src="{{ url_for('static', filename='images/leo_eli.png') }}" alt="Group Image">
                </div>

                <div class="description-container">
                    <div
                        class="description">
                        <!-- Description content -->
                        <h1 class="description-title">LET'S GO SPARTANS!</h1>

                        <p>Stay informed and engaged by visiting our team website regularly for the latest schedule of practices, games, and events. We will provide details on practice times, game locations, and any additional activities.</p>

                        <p>Together, let's create lasting memories and inspire a lifelong passion for soccer in our young athletes. Thank you for being an integral part of our team. If you have any questions or need further information, please feel free to contact me directly. I'm here to support and assist you in any way I can.</p>

                        <p>Sincerely,</p>
                        <p>Coach Javier Ibanez</p>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="calendar-container">
                    <table
                        class="calendar">
                        <!-- Calendar table content -->
                        <caption>Upcoming Events</caption>
                        <tbody>
                            <tr>
                                <td class="date">August TBD</td>
                                <td class="event">Practice</td>
                                <td class="team-color">Color</td>
                            </tr>
                            <tr>
                                <td class="date">August TBD</td>
                                <td class="event">Game</td>
                                <td class="team-color">Color</td>
                            </tr>
                            <tr>
                                <td class="date">August TBD</td>
                                <td class="event">Practice</td>
                                <td class="team-color">Color</td>
                            </tr>
                            <tr>
                                <td class="date">August TBD</td>
                                <td class="event">Game</td>
                                <td class="team-color">Color</td>
                            </tr>
                            <tr>
                                <td class="date">August TBD</td>
                                <td class="event">Practice</td>
                                <td class="team-color">Color</td>
                            </tr>
                            <tr>
                                <td class="date">August TBD</td>
                                <td class="event">Game</td>
                                <td class="team-color">Color</td>
                            </tr>
                            <!-- Add more rows for each event -->
                        </tbody>
                    </table>
                </div>
                <div class="spartan-logo-container">
                    <img class="spartan-logo-image" src="{{ url_for('static', filename='images/spartan-logov2.png') }}" alt="Group Image">
                </div>
            </div>

            <div class="content">
                <div class="team-pic-container2">
                    <img class="team-pic2" src="{{ url_for('static', filename='images/spartan_teamv3.png') }}" alt="Group Image">
                </div>
                <div class="contact-container">
                    <div class="contact-form">
                        <h3>Contact Me</h3>
                        <form
                            class="form-element" method="POST" action="{{ url_for('submit_contact_form') }}">
                            <!-- Contact form content -->
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" required>

                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>

                            <label for="message">Message:</label>
                            <textarea id="message" name="message" required></textarea>

                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <p>&copy; 2023 U8 Spartan Soccer</p>
        </footer>
    </body>
</html>
